flow sendor de gas.json
[
    {
        "id": "9649b73f.3f0058",
        "type": "tab",
        "label": "Controle de gas flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86f4ad2e.2c9ba",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org:1883",
        "broker": "test.mosquitto.org:1883",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6a8e4d5.d402cb4",
        "type": "mongodb",
        "hostname": "cluster0.ichd6.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "iot",
        "name": "iot"
    },
    {
        "id": "d28e0375.3efdc",
        "type": "inject",
        "z": "9649b73f.3f0058",
        "name": "Sensor de gas",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "400",
        "payloadType": "num",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "7fec1099.2fe79"
            ]
        ]
    },
    {
        "id": "7fec1099.2fe79",
        "type": "switch",
        "z": "9649b73f.3f0058",
        "name": "Controlador",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "500",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "500",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "26b71971.b69366"
            ],
            [
                "a86319e2.c81638"
            ]
        ]
    },
    {
        "id": "26b71971.b69366",
        "type": "function",
        "z": "9649b73f.3f0058",
        "name": "Sem vazamento",
        "func": "dados = {\"vazamento\": \"não\"};\n\nmsg.payload = dados;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "51089eb7.2bf9e"
            ]
        ]
    },
    {
        "id": "a86319e2.c81638",
        "type": "function",
        "z": "9649b73f.3f0058",
        "name": "Com vazamento",
        "func": "dados = {\"vazamento\":\"sim\"}\n\nmsg.payload = dados;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "51089eb7.2bf9e"
            ]
        ]
    },
    {
        "id": "51089eb7.2bf9e",
        "type": "mqtt out",
        "z": "9649b73f.3f0058",
        "name": "Sensor de gas",
        "topic": "35scj_sensor_de_gas",
        "qos": "2",
        "retain": "",
        "broker": "86f4ad2e.2c9ba",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "71596908.9371d8",
        "type": "mqtt in",
        "z": "9649b73f.3f0058",
        "name": "Sensor de gas",
        "topic": "35scj_sensor_de_gas",
        "qos": "2",
        "datatype": "auto",
        "broker": "86f4ad2e.2c9ba",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "c36bd877.cc27a8",
                "42a3bbf5.c621e4"
            ]
        ]
    },
    {
        "id": "c36bd877.cc27a8",
        "type": "debug",
        "z": "9649b73f.3f0058",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "42a3bbf5.c621e4",
        "type": "mongodb out",
        "z": "9649b73f.3f0058",
        "mongodb": "6a8e4d5.d402cb4",
        "name": "sensorgas",
        "collection": "sensorgas",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 390,
        "y": 440,
        "wires": []
    }
]